{# templates/correo.html.twig #}

<h1>¡Gracias por su compra {{ app.user.nombre }}!</h1>
<h2>Identificador de su pedido: #{{ pedido_id }}</h2>

<h2>Resumen de su compra: </h2>

<table>
    <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio y unidades</th>
        <th>Precio total</th>
    </tr>
    {% for codigo, producto in productos %}
     <tr>
      <td>{{ codigo }}</td>
      <td>{{ producto.nombre_corto() }}</td>
      <td>{{ producto.descripcion() }}</td>
      <td>{{ producto.precio() }}€ X{{ unidades[codigo] }}</td>
      <td>{{ coste }}€</td>
     </tr>
    {% endfor %}
</table>

<p>Precio total: {{ precioTotal }}€</p>
